.Seccion{
    margin-bottom: 10px;   
}

.Center{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 350px;
    height: auto;
    justify-content: center;
    max-width: 100%;
}

.Space{
    margin:10px,0px,10px,0px;
}

.ButtonDelect{
    width: auto;
    height: auto;
    background-color: blueviolet;
    border: 5px;
    border-color: aquamarine;
}

.ButtonDelect:hover{
    background-color: rgb(186, 127, 240);
}